<component name="ArtifactManager">
  <artifact type="war" name="springBootStarterHello:war">
    <output-path>$PROJECT_DIR$/springBootStarterHello/target</output-path>
    <root id="archive" name="spring-boot-starter-hello-1.0.war">
      <element id="artifact" artifact-name="springBootStarterHello:war exploded" />
    </root>
  </artifact>
</component>